<%include ../partials/header%>

<div class="container-fluid" style="display:inline-flex">

  <div>
    <div class="card ui-widget-content mr-3" id="resizemove">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%=content.image%>" allowfullscreen></iframe>
      </div>
      <div class="card-body ">

        <h5 class="card-title float-right"></h5>

        <h3 class="card-title"><a><%= content.name%></a></h3>

        <p class="card-text"><%= content.description%></p>
        <a class="btn btn-warning" href="/content/<%=content._id%>/info-edit">Edit Info</a>

        <form id="delete-form" action="/content/<%=content._id%>?_method=Delete" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>

      </div>
    </div>
  </div>

  <!--Note Editor -->
  <div id="note">
  <form action="/content/<%= content._id%>/?_method=PUT" method="POST">

    <div>
      <textarea name="content[text]" id="myTextarea">
          <%= content.text%>                     
      </textarea>

      <div class="update_bar">
        <button class="btn btn-primary mt-3" type="submit">Update</button>

      </div>
   </div>
  </form>
</div>
</div>


<!-- Initialize TinyMCE editor -->
<script type="text/javascript">

  tinymce.init({
    selector: '#myTextarea',
    theme: 'modern',
    resize: 'both',
    statusbar: true,
    width: 700,
    height: 570,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality emoticons template paste textcolor'
    ],
    content_css: 'css/content.css',
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
  });


  $('#resizemove')
    .draggable()
    .resizable({
      minWidth: 560,
      minHeight: 340

    });


  $('#note').draggable();
</script>








<%include ../partials/footer%>