

<%include ../partials/header%>
<div class="container-fluid">
<div class="row">
  
    <div class="col-lg-7">
        <div class="card">

                
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="<%=content.image%>" allowfullscreen></iframe>
                      </div>
                <div class = "card-body ">
           
            <h5 class="card-title float-right"></h4>
                
            <h3 class="card-title"><a><%= content.name%></a></h4>
             
            <p class="card-text"><%= content.description%></p>
            <a class="btn btn-warning" href="/content/<%=content._id%>/info-edit">Edit Info</a> 
        
              <form id="delete-form" action ="/content/<%=content._id%>?_method=Delete" method="POST">
                <button class="btn btn-danger">Delete</button> 
            </form>  
        </div>
        </div>
    </div>
    

    <!-- Create the note editor container -->
    <div class="col-lg-5">
          
        

                   <form action = "/content/<%= content._id%>/?_method=PUT" method = "POST">
                    
                            <textarea name="content[text]" id="myTextarea">
                               
                                <%= content.text%>
                               
                               
                            </textarea>
                          
                    
                      <button class="btn btn-primary mt-3" type="submit">Update</button>
                            
                   
                    </form>

                </div>

          
                
                   
                    
              

                
       
        
   
         </div>


</div>



<!-- Initialize TinyMCE editor -->
<script type="text/javascript">
        
    tinymce.init({
    selector: '#myTextarea',
    theme: 'modern',
    width: 700,
    height: 570,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality emoticons template paste textcolor'
    ],
    content_css: 'css/content.css',
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
  });
        
        
        // tinymce.init({
        // selector: '#mytextarea',
        // plugins: "autosave",
        // toolbar: "restoredraft"
        // });
</script>
  







<%include ../partials/footer%> 